@import "tailwindcss";
/* @import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@1&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-body: #464646;
  --color-primary: #1d1d1d;
  --color-light: #fafafa;
  --color-secondary: #dcf986;
  --color-tertiary: #5ea977;
  --color-border: #e0e0e0;
  --color-text-light: #f6f6f6;
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary{
  color: var(--color-tertiary);
}
.text-light{
  color: var(--color-light);
}
.text-tertiary{
  color: var(--color-tertiary);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-tertiary{
  background-color: var(--color-tertiary);
}

body {
  font-family: 'Clash Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color:var(--color-body) !important;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
}
a{
  text-decoration: none;
}
.reset-list,
.ulc{
	margin: 0;
	padding: 0;
	list-style: none;
}